.DS_Store
.bundle
_ignore/
err.log
out.log
locales/
app/common/config.js
app.js
node_modules
**/print_templates.css
**/logo.png
**/style.css
style.css
journal
login-testing.0
login-testing.1
login-testing.ns
mongod.lock
