
div.cnt
	div.span2
		div.well
			h1=__('Invoices')
			p#sub1.subheading Please tell us a little about yourself.
			hr
	
	div.span2
		div.well
			h1=__('Invoices')
			p#sub1.subheading Please tell us a little about yourself.
			hr
