
div.span6.offset2#login-container
	form(method="post", action="/")#login-form.well
		h1 Mongo invoices
		p.subheading=__("Please Login To Your Account")
		label Username 
		input(type="text", name="user", id='user-tf').span3.required
		label Password
		input(type="password", name="pass", id='pass-tf').span3.required
		br.clearfix
		label.checkbox=__("Remember Me")
			input(type="checkbox", name="remember-me", value="1", checked='checked')
		button(type="submit").btn.btn-primary
			i.icon-lock.icon-white
			=__("Sign in")
		hr.clearfix
		ul.nav.nav-pills
			li
				a(href='#')#forgot-password=__("Forgot Your Password")+"?" 
			li
				a(href='/signup')#create-account=__("Create An Account")
		br.clearfix
	
include modals/lost-password

script(src='/js/login.js')
