style(type='text/css').
   * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
   }
   html {
      font-size: 62.5%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   body {
      margin: 0;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333;
      background-color: #fff;
   }
   section {
      display: block;
   }
   img {
      vertical-align: middle;
      border: 0;
   }
   #pageHeader {
      padding: 40px 40px 20px 80px;
      font-size: 13px;
      background-color: #FFF;
      margin: 0;
   }
   #pageHeader .logo {
      margin: 0 0 20px 0;
      height: 50px;
      font-size: 35px;
   }

   #pageHeader .company_row2 {
      color: #999;
   }
   .cntPadd {
      padding: 0 40px 0 80px;
      margin:0;
      background-color: #fff;
   }
   #pageFooter {
      padding: 10px 40px 20px 80px;
      font-size: 11px;
      background-color: #FFF;
      margin: 0;
   }
   .clearfix:before, .clearfix:after {
      content: " ";
      display: table;
      clear: both;
   }
   .table {
      width: 100%;
      max-width: 100%;
      background-color: transparent;
      border-collapse: collapse;
      border-spacing: 0;
   }
   .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
      border-top: 0;
   }
   .table > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
   }
   .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
   }
   td, th {
      padding: 0;
   }
   th {
      white-space: nowrap;
      text-align: left;
   }
   .pull-right {
      float: right !important;
   }
   .nowrap {
      white-space: nowrap;
   }
   .paddingright {
      padding-right: 10px;
   }
   .paddingleft {
      padding-left: 10px;
   }
   .print_container table {
      font-size: 11px;
   }

   .print_container {
      width: 600px;
      margin: 0 auto 0 auto;
   }

   .print_container .quantity {
      width: 60px;
   }

   .print_container .description {
      width: 280px;
   }

   .print_container .price {
      width: 90px;
      text-align: right;
   }

   .print_container .print_items {
      font-size: 11px;
      min-height: 380px;
   }

   .print_data table {
      float: left;
   }

   .print_data_col1 {
      float: left;
      width: 55%;
      margin-right: 5%;
   }

   .print_data_col2 {
      float: left;
      width: 40%;
   }

   .print_data table td {
      vertical-align: top;
      padding-bottom: 5px;
   }