body {
  margin: 0;
  padding: 40px 0 0 0;
  height: 100%;
  background: #f2f9fe;
  background: -moz-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f2f9fe), color-stop(100%, #d6f0fd));
/* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* IE10+ */
  background: radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* W3C */
}
.modal-form-errors li {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  color: #d8000c;
}
#print {
  padding: 20px;
}
#four04 {
  padding: 20px;
}
.cnt {
  margin: 30px 0 0;
}
.bs-docs-sidenav {
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px 9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,0.1), inset -1px 0 0 rgba(0,0,0,0.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,0.1), inset -1px 0 0 rgba(0,0,0,0.1);
  box-shadow: inset 1px 0 0 rgba(0,0,0,0.1), inset -1px 0 0 rgba(0,0,0,0.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: 0.25;
}
.bs-docs-sidenav > li > a hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a hover .icon-chevron-right {
  opacity: 0.5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a hover .icon-chevron-right {
  background-image: url("../img/glyphicons-halflings-white.png");
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
.submenu {
  background-color: #f9f9f9;
}
.bs-docs-sidenav > li.submenu > a {
  padding-left: 20px;
}
.price,
.amount,
.totals,
.total {
  text-align: right;
}
@media print {
  body {
    padding: 0;
  }
  .navbar,
  .noprint {
    display: none;
  }
}
@font-face {
  font-family: "DINPro-Medium";
  src: url("DINPro-Medium.otf") format("opentype");
}
.table tfoot {
  border-top: 1px solid #000;
}
.table tfoot .spacer {
  height: 80px;
}
.print_container {
  font-family: "DINPro-Medium";
  font-size: 15px;
  background-color: #fff;
  width: 795px;
  min-height: 1080px;
  margin: 0 auto 0 auto;
}
.print_container header {
  font-size: 18px;
}
.print_container .quantity {
  width: 60px;
}
.print_container .description {
  width: 280px;
}
.print_container .price {
  width: 90px;
}
.print_container header .logo {
  margin: 0 0 20px -15px;
  height: 80px;
  font-size: 35px;
}
.print_container .print_data {
  margin: 40px 0 20px 0;
}
.print_container .print_items {
  min-height: 570px;
}
.print_container header .company_row2 {
  color: #999;
}
.cntPadd {
  padding: 50px 50px 50px 125px;
}
.print_data table {
  float: left;
}
.print_data_col1 {
  float: left;
  width: 55%;
  margin-right: 5%;
}
.print_data_col2 {
  float: left;
  width: 40%;
}
.print_data table td {
  vertical-align: top;
  padding-bottom: 5px;
}
.nowrap {
  white-space: nowrap;
  padding-right: 10px;
  min-width: 30px;
}
