
.icon-mail:before { content: '\e800'; } /* '' */
.icon-play:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-videocam:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-comment:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-calendar:before { content: '\e80c'; } /* '' */
.icon-heart:before { content: '\e80d'; } /* '' */
.icon-flyer-icon-lab:before { content: '\e80e'; } /* '' */
.icon-flyer-icon-learning:before { content: '\e80f'; } /* '' */
.icon-flyer-icon-live-visual:before { content: '\e810'; } /* '' */
.icon-flyer-icon-web-mobile:before { content: '\e811'; } /* '' */
.icon-avnode:before { content: '\e812'; } /* '' */
.icon-chromosphere:before { content: '\e813'; } /* '' */
.icon-flxer:before { content: '\e814'; } /* '' */
.icon-shockart:before { content: '\e815'; } /* '' */
.icon-wam:before { content: '\e816'; } /* '' */
.icon-vjtelevison:before { content: '\e817'; } /* '' */
.icon-ai:before { content: '\e818'; } /* '' */
.icon-lcf-fill:before { content: '\e819'; } /* '' */
.icon-lcf-line:before { content: '\e81a'; } /* '' */
.icon-linux:before { content: '\e81b'; } /* '' */
.icon-lpm:before { content: '\e81c'; } /* '' */
.icon-doc:before { content: '\e81d'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-fhf:before { content: '\e843'; } /* '' */
.icon-flyer:before { content: '\e844'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-linux-1:before { content: '\f17c'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-behance-squared:before { content: '\f1b5'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */