.cnt
	margin-top 71px
	overflow-x scroll
.submenu
	background-color #F9F9F9

.submenu > a 
	padding-left 20px

.page-title
	margin-top 0
th
	white-space nowrap
.tabQuantity
	min-width 50px

.tabPrice
	min-width 150px

.tabAmount
	min-width 150px

.tabDelete
	min-width 50px
.tabActions
	min-width 130px
.nowrap
	white-space:nowrap
	
.paddingright
	padding-right:10px

.paddingleft
	padding-left:10px

.print_body
	background-color  #f9f9f9
	
.print_container
	font-size  15px
	background-color  #FFF
	width  795px
	min-height  1080px
	margin 0 auto 0 auto

.print_container header
	font-size  18px

.print_container .quantity
	width 60px

.print_container .description
	width 280px

.print_container .price
	width 90px
	text-align right

.print_container header .logo
	margin  0 0 20px -15px
	height  80px
	font-size  35px

.print_container .print_data
	margin  40px 0 20px 0

.print_container .print_items
	min-height 570px

.print_container header .company_row2
	color  #999

.cntPadd
	padding 50px 50px 50px 125px

.print_data table
	float  left

.print_data_col1
	float  left
	width  55%
	margin-right  5%

.print_data_col2
	float  left
	width  40%

.print_data table td
	vertical-align  top
	padding-bottom	5px
.btn-group
	display: flex;

.modal-header h3
	margin:0;
.glyphicon-refresh-animate
	-animation: spin .7s infinite linear;
	-webkit-animation: spin2 .7s infinite linear;
.ui-menu
	z-index 1000
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
@media print 
	body
		padding  0
	
	.navbar,.noprint 
		display  none
	
	
