
#get-credentials.modal-single-input.modal.fade
	.modal-dialog
		.modal-content
			div.modal-header
				button.close(data-dismiss='modal') x
				h3="Retrieve Password"
			div.modal-body
				form( method="post")#get-credentials-form.form-inline
					p="Please enter the email address associated with your account"
					input(type="text", name="email", id='email-tf').form-control
					button(type="submit")#submit.btn.btn-primary="Submit"
					button(data-dismiss="modal")#cancel.btn="Cancel"
					div.alert.alert-error.hide
					button(data-dismiss="alert").close
			div.modal-footer