
#set-password.modal-single-input.modal.fade
	.modal-dialog
		.modal-content
		    div.modal-header
		        h3 Reset Password
		    div.modal-body
		        form( method="post")#set-password-form.wellspan=
		            p Please enter your new password
		            input(type="password", name="pass", id='pass-tf')span=.required
		            button(type="submit")#submit.btn.btn-primary Submit
		            div.alert.alert-error.hide
		            button(data-dismiss="alert").close
		    div.modal-footer